fastapi
uvicorn[standard]
joblib
numpy
scikit-learn
google-cloud-storage
firebase-admin
python-dotenv
google-generativeai
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
pymysql
google-genai
python-dotenv
